<% content_for(:title) { t("services.digital_discovery.page_title") } %>
<% content_for(:description) { t("services.digital_discovery.page_description") } %>
<header class="l-section l-section--danger l-section--lg">
  <div class="container">
		<div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6 text-center">
        <%= image_pack_tag("what_we_do/seo.svg", class: "w-75 mb-5 mb-sm-0") %>
      </div>
      <div class="col-md-6 text-center text-sm-left">
        <h1 class="text-white"><%= t("services.digital_discovery.page_title") %></h1>
        <p class="text-white-muted"><%= t("services.digital_discovery.page_description") %></p>
        <%= link_to "Lets Work Together", "#contact", class: "btn btn-info px-5" %>
      </div>
		</div>
  </div>
</header>
<section class="l-section l-section--lg l-section--white">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <% @items.each_with_index do |item, index| %>
          <div class="pb-5">
            <h4 class="d-flex align-items-center mb-3">
              <div class="mr-2">
                <div class="d-flex align-items-center justify-content-center bg-primary rounded p-2">
                  <i class="<%= item["icon"] %> fa-fw text-white"></i>
                </div>
              </div>
              <%= t(item["title"]) %>
            </h4>
            <p class="text-medium"><%= t(item["body"]).html_safe %></p>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 position-relative">
        <div class="text-center border rounded p-3 sticky-sidebar">
          <div class="lead mb-3"><%= t("services.digital_discovery.call_to_action_1")%></div>
          <%= link_to t("general.contact_us"), "#contact", class: "btn btn-warning px-5" %>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "layouts/pricing" %>

<section class="l-section l-section--lg l-section--light">
  <div class="container">
    <div class="text-center">
      <h2><%= t("services.digital_discovery.suggestions_title").html_safe %></h2>
      <p class="mb-4"><%= t("services.digital_discovery.suggestions_body")%></p>
    </div>
    <div class="pb-5">
      <div class="accordion" id="suggestions">
        <% @suggestions.each_with_index do |suggestion, index| %>
          <div class="card">
            <div class="card-body card-body--hover" data-toggle="collapse" data-target="#<%= "item_#{index}" %>" aria-expanded="true" aria-controls="<%= "item_#{index}" %>">
              <h4 class="mb-0">
                <div class="d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div class="mr-3">
                      <i class="fa-fw text-success <%= suggestion["icon"] %>"></i>
                    </div>
                    <%= t(suggestion["title"]) %>
                  </div>
                  <i class="fas fa-angle-down"></i>
                </div>
              </h4>
            </div>

            <div id="<%= "item_#{index}" %>" class="collapse <%= "show" if index === 0 %>" aria-labelledby="<%= suggestion["title"] %>" data-parent="#suggestions">
              <div class="card-body border-top">
                <p><%= t(suggestion["body"]).html_safe %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <div class="lead"><%= t("services.digital_discovery.call_to_action_2")%></div>
      <i class="fas fa-arrow-alt-down animated infinite bounce text-primary mt-5 fa-2x"></i>
    </div>
  </div>
</section>

<%= render partial: "layouts/contact" %>
