<% content_for(:title) { "Hello" } %>
<% content_for(:description) { "Hello" } %>

<section class="l-section l-section--white l-section--md">
  <div class="container">
    <h4 class="mb-4"><%= "Articles" %></h4>
    <div class="card-columns">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <div class="card card--link">
            <div class="card-image" style="background-image: url('<%= article.image_url %>')" alt="<%= article.title %>"></div>
            <div class="card-body">
              <h4 class="mb-1"><%= article.title %></h4>
              <p><%= article.description %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
