<!-- Style Override for Background Image -->
<style media="screen">
.l-section--article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @article.image_url %>);
  background-position: center;
  background-size: cover;
  height: 20rem;
  text-align: center;
  color: white;
}
</style>
<section class="l-section l-section--article d-flex justify-content-center align-items-center">
  <div class="contianer">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-2"><%= @article.title %></h1>
        <p><%= local_time_ago(@article.created_at) %></p>
      </div>
    </div>
  </div>
</section>
<section class="l-section l-section--white l-section--lg">
  <div class="container">
    <%=
      render partial: "layouts/breadcrumb", locals: {
        items: [
          {link: articles_path, title: "Home"},
          {link: "#", title: @article.title}
        ]
      }
    %>
    <%= @article.content %>
  </div>
</section>
