<% content_for(:title) { @article.meta_title } %>
<% content_for(:description) { @article.meta_description } %>

<%=
  render partial: "layouts/breadcrumb", locals: {
    items: [
      {link: root_path, title: "Home"},
      {link: articles_path, title: "Articles"},
      {link: "#", title: @article.title}
    ]
  }
%>

<!-- Style Override for Background Image -->
<style media="screen">
.l-section--article {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @article.image_url %>);
  background-position: center;
  background-size: cover;
  height: 20rem;
  text-align: center;
  color: white;
}
</style>
<section class="l-section l-section--article d-flex justify-content-center align-items-center">
  <div class="contianer">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-2"><%= @article.title %></h1>
        <p><%= t("articles.show.posted_at", time: local_time_ago(@article.created_at)).html_safe %></p>
      </div>
    </div>
  </div>
</section>
<section class="l-section l-section--white l-section--sm">
  <div class="container">
    <%= @article.content %>
  </div>
</section>
