<header class="l-section l-section--primary l-section--xxl d-flex justify-content-center align-items-center animated fadeIn">
  <div class="container">
		<div class="row">
			<div class="col-md-5">
				<h1 class="text-white font-weight-bold"><%= t("pages.index.page_title") %></h1>
        <p class="text-white-muted"><%= t("pages.index.page_description") %></p>
        <%= link_to "Lets Work Together", "#contact", class: "btn btn-info px-5" %>
			</div>
      <div class="col-md-7">
        <%= image_pack_tag("other/hero-illustration.svg", class: "w-100") %>
      </div>
		</div>
  </div>
</header>

<% content_for :javascript do %>
  <script type='text/javascript'>
    $(function() {
      /* NOTE: All images should be same dimensions */
      var heroImages = [
        "<%= asset_pack_url("media/images/backgrounds/local-coffee-shop.jpg") %>",
        "<%= asset_pack_url("media/images/backgrounds/local-barber.jpg") %>",
        "<%= asset_pack_url("media/images/backgrounds/local-shop.jpg") %>",
      ]

      var counter = 0,
          heroInterval = window.setInterval(updateHeroImage, 3000),
          $imageSlider = $(".js-hero");

      // Set Initial Image
      updateHeroImage()

      function resetCounter() {
        counter = 0;
      }
      function updateHeroImage() {
        if (counter >= heroImages.length) { resetCounter() };
        $imageSlider.css("background-image", "url(" + heroImages[counter] + ")");
        counter += 1
      }
    })
  </script>
<% end %>

<section class="l-section l-section--white l-section--lg" id="services">
	<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="text-darken mb-5">Our Services</h2>
      </div>
    </div>
		<div class="m-whatwedo row text-center justify-content-center">
      <% @services.each do |service| %>
        <div class="<%= service["columns"] %>">
          <div class="m-whatwedo__item">
            <div class="m-whatwedo__icon">
              <%= image_pack_tag(service["image"]) %>
            </div>
            <h3 class="text-primary"><%= service["title"] %></h3>
            <p class="text-muted"><%= service["description"] %></p>
            <%= link_to t("index.whatwedo.learn_more"), service["link"], class: "btn btn-primary px-4" if service["show_link"] %>
          </div>
        </div>
      <% end %>
		</div>
    <div class="text-center text-darken">
      <p>Looking for something you don't see? <%= mail_to "hello@vrginteractive.com", "Just ask us.", class: "text-primary" %> We're here to help.</p>
    </div>
	</div>
</section>

<section class="l-section l-section--info l-section--lg" id="aboutus">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="text-darken mb-5">About Us</h2>
			</div>
		</div>
		<!-- Row 1 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_pack_tag("other/work-all.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3 class="">A Collective of Experts</h3>
				<p class="text-white-muted">Our team combines top professionals spanning multiple disiplines with the central purpose of finding sustainable solutions to client challenges. We are committed to exceeding your expectations, but not your budget.</p>
			</div>
		</div>
		<!-- Row 2 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6">
				<div class="m-auto creative-machines-background">
					<div class="creative-machines-pully-1 animated rotateCW"></div>
					<div class="creative-machines-pully-2 animated rotateCW"></div>
					<div class="bubbles">
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
					<h3>Creative Machines</h3>
					<p class="text-white-muted">We scheme and conspire together, to design and devise intriguing strategies for our clients, and ultimately for their clientelle. We <span class="italic">love</span> what we do, let us show you!</p>
			</div>
		</div>
		<!-- Row 3 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_pack_tag("about_us/storytellers.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3>Storytellers</h3>
				<p class="text-white-muted">Each story becomes a part of history. VRG's creations each tell a story of art borne from need, climaxing with flair and imagining.</p>
				<p class="text-white-muted">Our client accolades and user experiences spur us on to even greater and higher plains of conceptual form. Let our next story become a part of your history.</p>
			</div>
		</div>
	</div>
</section>

<section class="l-section l-section--white l-section--xxl text-center text-sm-left" id="ourwork">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="text-darken mb-5">Some of Our Work</h2>
			</div>
		</div>
		<div class="row">
			<% @projects.each do |project| %>
				<div class="col-md-6 col-lg-4">
					<div class="m-ourwork">
						<div class="m-ourwork__image">
							<%= image_tag(project.image_url, class: "img-fluid") %>
							<div class="m-ourwork__image__body">
								<h5><%= link_to project.title, project_path(project) %></h5>
								<p class="mb-0"><%= truncate_description(project.description) %></p>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
		<div class="row justify-content-center mt-5 text-center">
			<div class="col-md-6">
				<h4 class="text-darken">we've done our job when you're blown away with what we've built together...</h4>
			</div>
		</div>
	</div>
</section>

<section class="l-section l-section--primary l-section--xxl" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="m-contact">
					<div class="m-contact__title">
						<h1 class="mb-3">Don't be shy,<br />Talk to us.</h1>
						<h4 class="text-darken">We reply to everyone right away. See for yourself.</h4>
					</div>
				</div>

				<div class="m-contact__content">
					<div class="m-contact__email">
						<small class="text-darken mb-1 font-weight-bold">SAY HI</small>
						<h3><%= mail_to "hello@vrginteractive.com", "hello@vrginteractive.com", class: "text-white" %></h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
