<header class="l-section l-section--primary l-section--xxl l-section--hero">
  <div class="container">
		<div class="row d-flex align-items-center justify-content-center text-center">
			<div class="col-md-9">
				<h1 class="text-white"><%= t("pages.index.page_title") %></h1>
        <p><%= t("pages.index.page_description") %></p>
        <%= link_to "Lets Work Together", "#contact", class: "btn btn-info px-5" %>
			</div>
		</div>
  </div>
</header>
<section class="l-section l-section--white l-section--lg" id="services">
	<div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h2 class="text-darken mb-5">Our Services</h2>
      </div>
    </div>
		<div class="m-whatwedo row text-center justify-content-center">
      <% @services.each do |service| %>
        <div class="<%= service["columns"] %>">
          <div class="m-whatwedo__item">
            <div class="m-whatwedo__icon">
              <%= image_pack_tag(service["image"]) %>
            </div>
            <h3 class="text-primary"><%= service["title"] %></h3>
            <p class="text-muted"><%= service["description"] %></p>
            <%= link_to t("index.whatwedo.learn_more"), service["link"], class: "btn btn-primary px-4" if service["show_link"] %>
          </div>
        </div>
      <% end %>
		</div>
    <div class="row justify-content-center text-center text-muted">
      <div class="col-md-6">
        <p><%= t("pages.index.cta_1", email: link_to(t("pages.index.contact_us"),"#contact")).html_safe %></p>
      </div>
    </div>
	</div>
</section>

<section class="l-section l-section--info l-section--lg" id="aboutus">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-12">
				<h2 class="text-darken mb-5">About Us</h2>
			</div>
		</div>
		<!-- Row 1 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_pack_tag("other/work-all.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3 class="">A Collective of Experts</h3>
				<p class="text-white-muted">Our team combines top professionals spanning multiple disiplines with the central purpose of finding sustainable solutions to client challenges. We are committed to exceeding your expectations, but not your budget.</p>
			</div>
		</div>
		<!-- Row 2 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6">
				<div class="m-auto creative-machines-background">
					<div class="creative-machines-pully-1 animated rotateCW"></div>
					<div class="creative-machines-pully-2 animated rotateCW"></div>
					<div class="bubbles">
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
						<div class="bubble"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
					<h3>Creative Machines</h3>
					<p class="text-white-muted">We scheme and conspire together, to design and devise intriguing strategies for our clients, and ultimately for their clientelle. We <span class="italic">love</span> what we do, let us show you!</p>
			</div>
		</div>
		<!-- Row 3 -->
		<div class="m-aboutus__item row align-items-center">
			<div class="col-md-6 order-md-12">
				<%= image_pack_tag("about_us/storytellers.svg", class: "m-aboutus__image") %>
			</div>
			<div class="col-md-6 order-md-1">
				<h3>Storytellers</h3>
				<p class="text-white-muted">Each story becomes a part of history. VRG's creations each tell a story of art borne from need, climaxing with flair and imagining.</p>
				<p class="text-white-muted">Our client accolades and user experiences spur us on to even greater and higher plains of conceptual form. Let our next story become a part of your history.</p>
			</div>
		</div>
	</div>
</section>

<%= render partial: "layouts/projects", locals: { color: "white", size: "xl" } %>
<%= render partial: "layouts/contact" %>
