<%=
  render partial: "layouts/breadcrumb", locals: {
    items: [
      {link: root_path, title: "Home"},
      {link: projects_path, title: "Projects"},
      {link: "#", title: @project.title}
    ]
  }
%>

<!-- Style Override for Background Image -->
<style media="screen">
.l-section--project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(<%= @project.image_url %>);
  background-position: center;
  background-size: cover;
  height: 20rem;
  text-align: center;
  color: white;
}
</style>
<section class="l-section l-section--project d-flex justify-content-center align-items-center">
  <div class="contianer">
    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
  </div>
</section>
<section class="l-section l-section--white l-section--sm">
  <div class="container">
    <h1 class="mb-2"><%= @project.title %></h1>
    <p class="text-muted"><%= local_time_ago(@project.created_at) %></p>
    <%= @project.content %>
  </div>
</section>
