<section class="l-section l-section--dark l-section--lg" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p class="small text-uppercase"><%= t("general.brand_name") %></p>
				<ul class="list-unstyled">
          <li><%= link_to t("navigation.services"), root_path(anchor: "services") %></li>
  				<li><%= link_to t("navigation.about"), root_path(anchor: "aboutus")%></li>
  				<li><%= link_to t("navigation.work"), root_path(anchor: "ourwork") %></li>
  				<li><%= link_to t("navigation.contact"), root_path(anchor: "contact") %></li>
          <li><%= link_to t("navigation.articles"), articles_path %></li>
				</ul>
			</div>
			<div class="col-md-4">
				<p class="small text-uppercase"><%= t("footer.location") %></p>
        <p class="text-muted">
          Dawson Creek<br />
          British Columbia<br />
          Canada
        </p>
				<p class="text-muted">
					Toronto<br />
          Ontario<br />
					Canada
				</p>
        <p class="text-muted">
          San Francisco<br />
          California<br />
          USA
        </p>
			</div>
			<div class="col-md-4">
        <p class="small text-uppercase"><%= t("footer.contact") %></p>
        <ul class="list-unstyled">
          <li><%= mail_to t("general.email_address") %></li>
          <% if user_signed_in? %>
            <li><%= link_to t('footer.admin'), admin_root_path %></li>
            <li><%= link_to t('footer.sign_out'), destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t('footer.sign_in'), new_user_session_path %></li>
          <% end %>
        </ul>

			</div>
		</div>
	</div>
</section>
