<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <div class="navbar-brand ">
      <%= link_to inline_svg_pack_tag("media/images/logo.svg", class: "text-white"), root_path %>
    </div>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <%= link_to "#", class: "nav-link text-white dropdown-toggle", data: {toggle: "dropdown"}, aria: {haspopup: true, expanded: true} do %>
            <%= t("navigation.services") %>
            <i class="fas fa-angle-down ml-1"></i>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to root_path(anchor: "services"), class: "dropdown-item" do %>
              <i class="fad fa-location-circle mr-2 text-primary"></i>
              <%= t("navigation.all_services") %>
            <% end %>
            <%= link_to services_digital_discovery_and_seo_path, class: "dropdown-item" do %>
              <i class="fad fa-globe-americas mr-2 text-primary"></i>
              <%= t("navigation.seo") %>
            <% end %>
            <%= link_to services_web_design_and_development_path, class: "dropdown-item" do %>
              <i class="fad fa-computer-classic mr-2 text-primary"></i>
              <%= t("navigation.development") %>
            <% end %>
          </div>
        </li>
        <li class="nav-item"><%= link_to t("navigation.work"), root_path(anchor: "ourwork"), class: "nav-link text-white" %></li>
        <li class="nav-item"><%= link_to t("navigation.contact"), root_path(anchor: "contact"), class: "nav-link text-white" %></li>
        <li class="nav-item"><%= link_to t("navigation.about"), about_us_path(), class: "nav-link text-white" %></li>
        <li class="nav-item"><%= link_to t("navigation.articles"), articles_path, class: "nav-link text-white" %></li>
      </ul>
    </div>
  </div>
</nav>
