<div class="l-section l-section--primary l-section--lg">
  <div class="container">
    <div class="row l-section__scroll mb-5">
      <% @pricing.each_with_index do |price, index| %>
        <div class="col-md-4 col-10">
          <div class="card text-center text-dark">
            <div class="card-body card-body--pricing-head">
              <i class="fa-fw fa-2x mb-2 text-primary <%= price["icon"] %>"></i>
              <h4><%= price["title"] %></h4>
              <span class="small text-muted"><%= price["body"] %></span>
            </div>
            <div class="card-body card-body--pricing-body border-top text-left">
              <% price["pricing_items"].each do |pricing_item| %>
                <p class="font-weight-bold text-info mb-0"><%= pricing_item["title"] %></p>
                <ul class="list-unstyled">
                  <% pricing_item["items"].each do |item| %>
                    <li class="m-0"><%= raw(item).html_safe %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
            <div class="card-body card-body--pricing-footer border-top">
              <span class="lead text-primary font-weight-bold"><%= price["amount"] %></span>
              <% if price["cadence"] %>
                <sup>/<%= price["cadence"] %></sup>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="text-center">
      <p class="lead"><%= t("pages.pricing.call_to_action") %></p>
      <%= link_to t("general.get_in_touch"), "#contact", class: "btn btn-warning px-5" %>
    </div>
  </div>
</div>
