<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%# TODO: Set Domain in ENV %>
    <%
      brand_title = t("general.brand_title")
      brand_description = t("general.brand_description")
      page_url = "https://vrginteractive.com#{request.fullpath}"
    %>
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? content_for(:title) : brand_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : brand_title %>">
    <meta name="author" content="VRG Interactive">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%# Canonical URL %>
    <link rel="canonical" href="<%= page_url %>" />

    <%# Favicons %>
    <%= render 'application/favicon' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Embed Structured Data %>
    <%= content_for(:structured_data) if content_for?(:structured_data) %>
  </head>

  <body>
    <%= render partial: "layouts/flash", flash: flash %>
    <%= render partial: "layouts/navigation" %>
    <div class="l-main">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>

    <script src="https://kit.fontawesome.com/ed4f6f9e0c.js" crossorigin="anonymous"></script>

    <%# Load In Page Javascripts %>
    <%= content_for(:javascript) %>
  </body>
</html>
