<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%
      brand_title = t("general.brand_title")
      brand_description = t("general.brand_description")
      brand_image = asset_pack_url("media/images/other/hero-illustration.png")
      brand_name = "VRG Interactive"

      page_title = content_for?(:title) ? content_for(:title) : brand_title
      page_description = content_for?(:description) ? content_for(:description) : brand_title
      page_image = content_for?(:image) ? content_for(:image) : brand_image
      page_type = content_for?(:type) ? content_for(:type) : "webpage"
      page_url = "https://vrginteractive.com#{request.fullpath}"

    %>

    <meta charset="utf-8">
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="author" content="<%= brand_name %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%# Canonical URL %>
    <link rel="canonical" href="<%= page_url %>" />

    <%# Open Graph general (Facebook, Pinterest & Google+) %>
    <meta property="og:title" content="<%= page_title %>">
    <meta property="og:description" content="<%= page_description %>">
    <meta property="og:type" content="<%= page_type %>">
    <meta property="og:image" content="<%= page_image %>">
    <meta property="og:image:secure_url" content="<%= page_image %>">
    <meta property="og:image:alt" content="<%= page_title %>">
    <meta property="og:url" content="<%= page_url %>">
    <meta property="og:site_name" content="<%= brand_name %>">
    <meta property="og:locale" content="<%= I18n.locale %>">

    <%# Favicons %>
    <%= render 'application/favicon' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Embed Structured Data %>
    <%= content_for(:structured_data) if content_for?(:structured_data) %>
  </head>

  <body>
    <%= render partial: "layouts/flash", flash: flash %>
    <%= render partial: "layouts/navigation" %>
    <div class="l-main">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>

    <script src="https://kit.fontawesome.com/ed4f6f9e0c.js" crossorigin="anonymous"></script>

    <%# Load In Page Javascripts %>
    <%= content_for(:javascript) %>
  </body>
</html>
